# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\django8am\studentregformpro\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
